$timeline-border-width: 6px;

.h-100 {
    height: 100% !important;
}

.timeline-icon {
    max-width: 80px;

    padding: rem-calc(10) 0;

    @include breakpoint(medium) {
        padding: 0;
        max-width: 100px;
    }

}


.timeline-circle {
    font-weight: bold;
    font-size: rem-calc(36);
    padding: 0 20px;
    border-radius: 100%;
    background-color: #000;
    color: #fff;
    max-height: 100px;
    z-index: 2;



    &--top {
        position: absolute;
        top: 0;
    }

    &--bottom {
        position: absolute;
        bottom: 0;
    }

    &--gold {
        background: $yellow;
        color: black;
    }
}

.timeline-content {


    margin-bottom: 0;

    padding-top: rem-calc(50);

    @include breakpoint(medium) {
        padding-top: rem-calc(120);

    }

    p {
        line-height: 1.1;
        font-size: rem-calc(22);
        margin-bottom: 0;

        @include breakpoint(medium) {
            font-size: rem-calc(28);
            margin-top: 10px;
        }
    }


}

.timeline-item.bs-row {
    display: flex;
}

.timeline-item.bs-row .col-2 {
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

.timeline-item.bs-row .col-2::after {
    content: "";
    position: absolute;
    border-left: $timeline-border-width solid #000;
    z-index: 1;
}

.timeline-item.bs-row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
}

.timeline-item.bs-row .col-2.full::after {
    height: 100%;
    left: calc(50% - #{$timeline-border-width});
}

.timeline-item.bs-row .col-2.full-left::after {
    height: 100%;
    left: calc(50%);
}

.timeline-item.bs-row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
}

.timeline div {
    padding: 0;
    height: 45px;
}



.timeline__hr {
    border-bottom: none;
    border-top: $timeline-border-width solid #000;
    margin: 0;
    top: 16.5px;
    position: relative;
}



.timeline .col-2 {
    display: flex;
    overflow: hidden;
}

.timeline-corner {
    border: $timeline-border-width solid #000;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline-border-gold {
    border-color: $yellow;

    &:after {
        border-color: $yellow !important;
    }
}

.timeline .top-right {
    left: 50%;
    top: -50%;
}

.timeline .left-bottom {
    left: -50%;
    top: calc(50% - #{$timeline-border-width});
}

.timeline .top-left {
    left: -50%;
    top: -50%;
}

.timeline .right-bottom {
    left: 50%;
    top: calc(50% - #{$timeline-border-width});
}
